.title {
	font-size: 150px;

	margin-top: 45px;
	color: rgb(251, 251, 251);
	letter-spacing: normal;
}

.main__text {
	font-size: 50px;
	text-align: center; /* Moved here to avoid repetition */
	text-transform: capitalize;
	position: absolute; /* Moved here to avoid repetition */
	top: 30%; /* Moved here to avoid repetition */
	left: 50%; /* Moved here to avoid repetition */
	transform: translate(-50%, -50%); /* Moved here to avoid repetition */
	color: rgb(251, 251, 251); /* Moved here to avoid repetition */
}

.container {
	position: relative;
	text-align: center;
}

.world__image {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

@media screen and (max-width: 425px) {
	.title {
		font-size: 120px;
		filter: blur(2);
		margin-top: 45px;
		color: rgb(251, 251, 251);
		display: block;
		text-align: center;
	}
	.main__text {
		font-size: 25px;
		top: 25%;
	}
}
