.title {
	font-size: 150px;
	filter: blur(2);
	margin-top: 45px;
	color: rgb(251, 251, 251);
}

.container {
	position: relative;
	text-align: center;
}

.world__image {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.main__text {
	font-size: 50px;
	text-align: center;
	text-transform: capitalize;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: rgb(251, 251, 251);
}

.email__form {
	margin-top: 2em;
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
}

.email__container {
	align-items: center;
	display: flex;
	flex-direction: column;
}

.email__input {
	width: 10em;
	background: transparent;
	border: none;
	border-bottom: 2px solid white;

	margin-bottom: 2em;

	padding: 2px 5px;
}

.email__input::placeholder {
	text-align: center;
}

.email__btn {
	width: 10em;
	padding: 10px;
	border: 1px solid rgb(251, 251, 251);
	border-radius: 10px;
}
